body {blackground-color: rgb(25, 0, 255);
 color: rgb (200,120,10);
 margin: 2px;
}

header { border-bottom: solid 2px rgb(0, 0, 0);
 padding: 20px;
 font-size: 32px;
 color: rgb(200, 132, 30);
}

.chamada{ background-color: rgb(93, 240, 64);
 padding-bottom: 80px;
 padding-top: 80px;
 display:flex ;
 justify-content: center;
}
.chamada-texto {margin-right: 5% ;
}

h1 {font-size: 40px;} 
img{heigt:200px}
.categoria-vídeo {
        display: flex;
        overflow-x:auto;
        gap: 10px; }
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}